<%- include('partials/head.ejs') %>
<body>
    
    <%- include('partials/header.ejs') %>

    <main>
        <div class="container">
            <% if(perguntas == null || perguntas == undefined){ %>
                <hr>
                <div class="container-faca-uma-pergunta">
                    <h1 class="texto-faca-uma-pergunta">Nenhuma pergunta foi feita. Seja o primeiro!</h1>
                    <a class="link-faca-uma-pergunta" href="/perguntar">Perguntar</a>
                </div>
                <hr>
            <% } else { %>
                <hr>
                <div class="container-faca-uma-pergunta">
                    <h1 class="texto-faca-uma-pergunta">Faca uma pergunta!</h1>
                    <a class="link-faca-uma-pergunta" href="/perguntar">Perguntar</a>
                </div>
                <hr>

                <% perguntas.forEach(pergunta => { %>
                    <div class="pergunta">
                        <h2><a class="pergunta-link" href="/pergunta/:<%= pergunta.id %>"><%= pergunta.titulo %></a></h2>
                    </div>
                    <hr>
                <% }) %>            
            <% } %>
        </div>
    </main>

</body>
</html>